body{
    margin:0;
    background-image: url(bg.webp);
    background-position-y: 60px ; 
    background-size: cover; 
    height: 100vh;
    overflow-x: hidden;
    background-repeat: round;
}
header{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    padding:20px;
    position: sticky;
    top:0px;
    margin-right: 0;
    background-color: hsl(0, 0%, 7%);
}  

.logo{
    width: 15vw;
    display: inline-block;
    color: white ;
    font-size: 1.4vmax;
    cursor: pointer;
    text-align: center;
}

.navbox{
    width: 80vw;
    display: inline-block;
    position: absolute;
    word-spacing: 2.5vmax;
    text-align: end;   
}

#homie{
    color: salmon;

}

.navbox >a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.2vmax;
}

.navbox > a:hover{
    color: salmon;
    transition: all 0.5s;
}
.container{
    margin-top: 15vh;
}

.heading{
    color: salmon;
    font-size: 5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
    position: relative;
    left:3.5vmax;
    width:50vw;
    margin-bottom: 0;
}

.heading + h3{
    color: rgba(255, 255, 255, 0.966);
    font-family: 'Roboto';
    position: relative;
    left:4vw;
    font-size: 2vmax;
    margin-top: 0;
   
}

.heading+h3+p{
    color: white;
    font-style: italic;
    position: relative;
    left:4vmax;
    width:23vw;
    word-spacing: 1vmax;
    top: 1vmax;
    font-size: 1vmax;
}


.btn{
    color: rgb(15, 15, 15);
    border:none;
    border-radius: 5px;
    border: 2px solid salmon;
    background-color: salmon;
    width: 10vw;
    padding: 0.6vmax;
    font-family: 'Roboto';
    position: relative;
    left: 4vmax;
    top: 1vmax;
    font-weight: 600px;
    cursor: pointer;
    transition: all 0.5s; 
    font-size: .8vmax;
}

.btn:hover{
    background-color: rgba(241, 241, 241, 0);
    color: white;
}

footer{
    color: white;
    font-family:'Roboto';
    position: fixed;
    bottom: 0;
}